body{

}


.container{
    margin: 0 auto;
}
.circle{
    width: 70px;
    height: 70px;
    border-radius: 200px;
}


.pad-10{
    padding: 10px;
}

.circle-bg{
    background: red;
}
/*
.border-6{
    border-radius: 6px solid;
} */